<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BookList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>493CB0EE1D9B267A00AC9661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>493CB1021D9B267A00AC9661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>493CB10D1D9B267A00AC9661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
